# same old aliases...
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# alias per connettersi all'ufficio
alias unibgvpn="sshuttle -r bender -vv xxx.xxx.xxx.0/24"
alias csrepovpn="sudo openvpn --client --config /etc/openvpn/unibg/marco_alltraffic.ovpn"
alias csrepolight="sudo openvpn --client --config /etc/openvpn/unibg/marco_unibgonly.ovpn"
